# Basic Math with Python

A computer program is a sequence of instructions in a certain computer language. So like any othe rlanguages it has its own characters and grammar.

Similar to most porgramming languages, the standard arithmitic operators in Python are written as `+, - , *` and `/`. The exponentiation is done by double asterisk `**`.

Programs are built of *statements*. There are several type of statements, for example

In [2]:
x = 1

is an *assignment* statement, while

In [3]:
print("Hello World!")

Hello World!

is a *print* statement.

In an assignment statement the `=` sign means that the expression on the right-hand side which in this case is number 3 is assigned to the **variable** `x` on the left-hand side. So expressions like

In [4]:
x = x+3

is meaningful in this context even though it is mathematically false. This expression takes the old value of `x` and adds 3 to it and stores the new value in the variable `x` again, so the old value is lost.

In [5]:
print(x)

4

In [6]:
x

4

In [7]:
x = x*x

In [8]:
print(x)

16

### Example 1.1 Celsius-Fahrenheit Conversion

Suppose $F$ is the temperature measured in Fahrenheit and $C$ is the temperature measured in Celsius,  then we have the following conversion formula 
$$F = \frac{9}{5} C + 32 \Leftrightarrow C = \frac{5}{9} \left( F-32 \right)$$

We want to write a program that takes the tempreture in Celsius and returns the Fahrenheit value.

In [9]:
C = 30
F = (5/9)*C + 32
print(F)
print("The tempreture is", F, "degree Fahrenheit.") #commas are important to print a phrase with different type of objects.

48.66666666666667
The tempreture is 48.66666666666667 degree Fahrenheit.

## Numbers and Variables

There are 3 types of numeric objects in Python,
 
* Integres such as 1, 0, 45, -345
* Floating-point numebrs or floats such as 3.1415, -4.32, 2.0
* Complex numbers such as 1+2i, -3.5-0.6i

Computer will store each number type differently and they will take up different space in the computer memory. Forexample, a complex number takes up twice as much memory as a float because the computer has to store both the real and imaginary parts even if the imaginary part is 0, it still needs to be stored which requires memory space. Therefore, it is important to specify the number (and variable) type when programming.

In [10]:
-9

-9

Use the Python function `type()` to see the datatype of a value:

In [11]:
type(-9)

int

In [12]:
type(3.1415)

float

In [13]:
type(1+2j) #first try with i to show that it doesn't work.

complex

As you see, in Python the unit imaginary number is denoted by `j` and NOT `i`.

Above, we saw assignment statements such as

In [14]:
x = 1

In this statement `x` is a **variable** that stores the value of 1. You can think of a variable as a box that stores values so theu can be retrieved or changes at any later time if needed. 

By assigning values to a variable we set the type of the variable. One main type of variables are numeric variables that store numeric types described above.

In [15]:
s = 123

In [16]:
s

123

In [17]:
print(s)

123

In [18]:
type(s)

int

In [19]:
e = 2.781

In [20]:
type(e)

float

To view a list of variables currently defined we use the command `whos`

In [21]:
whos

Variable   Type     Data/Info
-----------------------------
C          int      30
F          float    48.66666666666667
e          float    2.781
s          int      123
x          int      1

We discussed earlier that the value and the type of a variable can be changed as we run a program.

In [22]:
s = 1

In [23]:
s = 3.4

In [24]:
s = "Hey you!"

The last executable line of code assign a string to the variable `x` which will be its current value.

In [25]:
s #advise against assigning different variable types to one variable.

'Hey you!'

## Arithmetic

In [26]:
1+4

5

In [27]:
x = 2; y = 3

In [28]:
x+y

5

In [29]:
print(x+y)

5

In [30]:
x-y

-1

In [31]:
x*y

6

In [32]:
x/y

0.6666666666666666

Power operation is double asterisk `**`.

In [33]:
2**3

8

Two other operations are integer division `//` and modulo operation `%`.

`x//y` return the integer quotient of division of x by y i.e. the result of division rounded down to the nearest integer.

`x%y` returns the remainder of devision of x by y.

In [34]:
16//5

3

In [35]:
16%3

1

Mathematically speaking we know $16 = (3 . 5)+1$

The type of the resulting value of arithmetic operations depends on the types of variables it is made up of.

In [36]:
 pi = 3 + 0.1415

In [37]:
type(pi)

float

Arithmetic between a float and an integer results in a float. More briadly, the result of arithmetic between variables of two different type is the more general type.

In [38]:
type(2.0*1)

float

Arithmetic operations can be combined to make more complicated expressions. The order of operations is similar to those of normal algebra; powers are performed before multiplication and division, multiplication and division are perfomed before addition and subtraction, and if there are multiple divisions or multil=plications in a row, the operations are performed from left to right.

In [39]:
x = 2; y = 3; z = -4

In [45]:
x+y*z #x+(y*z)

-10

In [46]:
3*y**2 #3(y^2)

27

In [47]:
y*z/x #(y*z)/x

-6.0

Note that division always returns a float type.

To clarify the order of operations in an expression we use parentheses `()` as we do in normal algebra.

In [43]:
(x+y)*z

-20

In [44]:
x+(y*z)

-10